<a href="https://colab.research.google.com/github/fontanadaniel11/strutture-dati/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Una tupla è una struttura dati ordinata e non modificabile.
Si forma con le parentesi tonde

In [ ]:
tupla1=(1,2,3,4,5)
print(tupla1)

(1, 2, 3, 4, 5)

Gli elementi tuple sono ordinati, non modificabili e consentono valori duplicati. 
Sono indecizzate infatti il primo elemento della tuple ha valore di index "0"

Le tuple non sono modificabili, il che significa che non possiamo modificare, aggiungere o rimuovere elementi dopo che la tupla è stata creata.

quindi se ci serisse un vettore non modificabile non useremmo list ma una tupla

In [ ]:
tupla1.append(1) #non funziona perché non e modificabile

Per creare una tupla con un solo elemento, devi aggiungere una virgola dopo l'elemento

In [ ]:
tupla2=("prova",)
print(type(tupla2))
print(tupla2)
tupla2=("prova")
print(type(tupla2))

<class 'tuple'>
('prova',)
<class 'str'>

puo cotenere tutti i tipi di dati, pure tutti insieme in ua sola tuple

In [ ]:
tupla3=("ciao", 1, True,2,"hello")
print(tupla3)

<class 'tuple'>
('ciao', 1, True, 2, 'hello')

si puo usare anche la funzione "tuple()" per crearne una

In [ ]:
pluto = [1, 0 ,2]
prova=tuple(pluto)
print(prova)
print(pluto)
pluto.extend([2])
print(pluto)
print(prova)

(1, 0, 2)
[1, 0, 2]
[1, 0, 2, 2]
(1, 0, 2)

**esercizio**

generare 20 numeri casuali non uguali tra 1 e 100, poi inserirli in una struttura dati adeguata che non sia modificabile.

In [ ]:
import random 
lista0 = tuple(random.sample(range(1,100),20))
print(lista0)

(67, 73, 82, 5, 17, 21, 16, 85, 68, 70, 9, 33, 79, 15, 22, 13, 56, 10, 65, 69)

aggiungere i primi 3 cognomi della classe in posizioe 1 all precedente vettore

In [ ]:
lista0 = list(lista0)
lista0[0:0] = ["avasiloae", "bernasconi", "cottone"]
lista0 = tuple(lista0)
print(lista0)

('avasiloae', 'bernasconi', 'cottone', 67, 73, 82, 5, 17, 21, 16, 85, 68, 70, 9, 33, 79, 15, 22, 13, 56, 10, 65, 69)